/* .containerLoader {
  display: flex;
  justify-content: center;
} */

/* .containerLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
} */
/* 
.containerLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: #121212;
}

.loaderSpinner {
  width: 80px;
  height: 80px;
  border: 8px solid #444;
  border-top: 8px solid #1db954;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
} */




/* ---------------------------------------------------------------- */
/* .containerLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loaderSpinner {
  width: 80px;
  height: 80px;
  border: 8px solid #444;
  border-top: 8px solid #1db954;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */

/* .containerLoader {
  display: flex;
  justify-content: center;
} */
/* 
.castList {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.castItem {
  border: 4px solid transparent;
  border-top: 4px solid #ff6347;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@media screen and (min-width: 768px) {
  .castItem {
    width: 200px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


/* 

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 4px solid transparent;
  border-top: 4px solid #ff6347;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* 
.containerLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
} */

/* 
.containerLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
} */


.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Повна висота екрану */
  background-color: rgba(255, 255, 255, 0.8); /* Легкий фон */
}