/* .castItemThumb {
  text-align: center;
  padding: 10px;
}

.castItemTitle {
  letter-spacing: -0.02em;
  line-height: 0.89em;
  margin-bottom: 10px;
}

.castItemCharacter {
  font-size: 15px;
  letter-spacing: -0.02em;
  line-height: 0.89em;
}

.castItemSpan {
  font-weight: 700;
}

.castImg {
  width: 200px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .castImg {
    height: 300px;
  }
} */
/* 
.castItem {
  width: 100%;
  max-width: 150px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .castItem {
    max-width: 200px;
  }
}

.castImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.castItemThumb {
  padding: 10px;
}

.castItemTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.castItemCharacter {
  font-size: 15px;
  color: #bbb;
}

.castItemSpan {
  font-weight: 700;
} */

/* 
.castItem {
  background-color: #282828;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  transition: transform 0.3s;
}

.castItem:hover {
  transform: translateY(-10px);
}

.castImg {
  width: 100%;
  height: auto;
  display: block;
}

.castItemInfo {
  padding: 15px;
}

.castItemName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.castItemCharacter {
  font-size: 14px;
  color: #b3b3b3;
} */

/* 
.castItem {
  background-color: #282828;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  transition: transform 0.3s;
}

.castItem:hover {
  transform: translateY(-10px);
}

.castImg {
  width: 100%;
  height: auto;
}

.castItemInfo {
  padding: 15px;
}

.castItemName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.castItemCharacter {
  font-size: 14px;
  color: #b3b3b3;
}

@media screen and (min-width: 768px) {
  .castItemName {
    font-size: 18px;
  }

  .castItemCharacter {
    font-size: 15px;
  }
} */

/* ---------------------------------------------------------------- */
/* 
.castItem {
  background-color: #282828;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  transition: transform 0.3s;
}

.castItem:hover {
  transform: translateY(-10px);
}

.castImg {
  width: 100%;
  height: auto;
}

.castItemInfo {
  padding: 15px;
}

.castItemName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.castItemCharacter {
  font-size: 14px;
  color: #b3b3b3;
}

@media screen and (min-width: 768px) {
  .castItemName {
    font-size: 18px;
  }

  .castItemCharacter {
    font-size: 15px;
  }
} */

.castItemThumb {
  text-align: center;
  padding: 10px;
}

.castItemTitle {
  letter-spacing: -0.02em;
  line-height: 0.89em;
  margin-bottom: 10px;
}

.castItemCharacter {
  font-size: 15px;
  letter-spacing: -0.02em;
  line-height: 0.89em;
}

.castItemSpan {
  font-weight: 700;
}

.castImg {
  width: 200px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .castImg {
    height: 300px;
  }
}