/* .castList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.castItem {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .castItem {
    width: 200px;
  }
} */

/* .castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
} */

/* .castList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #181818;
} */

/* .castList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #181818;
}

@media screen and (min-width: 768px) {
  .castList {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .castList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */

/* ---------------------------------------------------------------- */

/* 
.castList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .castList {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .castList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */
/* 
.castList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px;
  background-color: #222;
  border-radius: 5px;
}

.castItem {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.castItem  img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.castItem  p {
  margin-top: 10px;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .castItem {
    width: 200px;
  }
} */
/* 

.cast-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px;
  background-color: #222;
  border-radius: 5px;
}

.cast-item {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.cast-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.cast-item p {
  margin-top: 10px;
  font-size: 1rem;
} */


.castList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.castItem {
  width: 180px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.castItem:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .castItem {
    width: 220px;
  }
}